@model VästeråsSnooker.Models.ViewModels.GameListViewModel

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Vinnare</th>
            <th>Spelare 1</th>
            <th>Spelare 2</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var game in Model.AllGames)
            {
                var gameRowId = "gameRow" + @game.Id + "Id";
                <tr id="@gameRowId" class="selectableTableRow">
                    <td>@game.Datum.ToShortDateString()</td>
                    <td>@game.Vinnare</td>
                    <td>@game.Spelare1</td>
                    <td>@game.Spelare2</td>
                </tr>
            }
        }
    </tbody>
</table>
<script src="~/Scripts/SiteScripts/Games/GameListScripts.js"></script>